{
    "openapi": "3.0.3",
    "info": {
        "title": "F\u00f6retagsinformation",
        "description": "With this API you can retrieve company information. The API use POST for all endpoints instead of GET because we don't want to display identification number (which can be considered sensitive personal data) in the URL.",
        "termsOfService": "https://bolagsverket.se/",
        "version": "v4"
    },
    "externalDocs": {
        "description": "API:s on Bolagsverket",
        "url": "https://bolagsverket.se/apierochoppnadata.2531.html"
    },
    "servers": [
        {
            "url": "https://gw.api.bolagsverket.se/foretagsinformation/v4"
        }
    ],
    "security": [
        {
            "default": []
        }
    ],
    "tags": [
        {
            "name": "organisationsinformation",
            "description": "API to retrieve data about companies, persons, signatory power and cases."
        },
        {
            "name": "ping",
            "description": "API to control the status of the service"
        }
    ],
    "paths": {
        "/organisationer": {
            "post": {
                "tags": [
                    "organisationsinformation"
                ],
                "summary": "Retrieve data about a company",
                "description": "With this operation you can retrieve data about a company.",
                "parameters": [
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "Client generated ID to call the API. In case of error this will be sent in the attribute `requestId` or as a header attribute.",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "d120654c-0d09-481a-8956-940a76474e6b"
                    }
                ],
                "requestBody": {
                    "description": "An object to specify `identitetsbeteckning` (company registration number) and if needed `namnskyddslopnummer` (used to separate companies for organisation types that can have more than one company on the same company registration number) and fields to specify the information objects you want in the answer. Possible information objects are `ORGANISATIONSADRESSER` (postal address and email address), `FIRMATECKNING` (signatory power), `FUNKTIONARER` (company officers), `HEMVISTKOMMUN` (domicile for the company),  `RAKENSKAPSAR` (financial year), `ORGANISATIONSDATUM` (different dates regarding the company), `VERKSAMHETSBESKRIVNING` (description of the business activities), `AKTIEINFORMATION` (information about stocks in the company), `SAMTLIGA_ORGANISATIONSNAMN` (all business names including business names in translation and secondary business names), `ORGANISATIONSENGAGEMANG` (showing a company's assignments in other companies, `TILLSTAND` (showing a company's permits), `OVRIG_ORGANISATIONSINFORMATION` (other organisation information), `ORGANISATIONSMARKERINGAR` (markings on the company), `BESTAMMELSER` (regulations for the company), `VAKANSER_OCH_UPPLYSNINGAR` (vacancies and other information about the company), `EKONOMISK_PLAN` (financial plan for the company form BRF), `UTLANDSK_FILIALAGANDE_ORGANISATION` (information about a foreign company having a Swedish branch), `FINANSIELLA_RAPPORTER` (information about a company's financial reports), and an optional timestamp ('tidpunkt') to retrieve historical information about the company.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrganisationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reply with requested company data.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrganisationResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/WrongIdentifier"
                    },
                    "401": {
                        "$ref": "#/components/responses/WrongToken"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/MissingData"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "foretagsinformation:read"
                        ]
                    },
                    {
                        "default": [
                            "foretagsinformation:read"
                        ]
                    }
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        },
        "/personer": {
            "post": {
                "tags": [
                    "organisationsinformation"
                ],
                "summary": "Retrieve data about a person",
                "description": "With this operation you can retrieve data about a person.",
                "parameters": [
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "Client generated ID to call the API. In case of error this will be sent in the attribute `requestId` or as a header attribute.",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "d120654c-0d09-481a-8956-940a76474e6b"
                    }
                ],
                "requestBody": {
                    "description": "An object to specify `identitetsbeteckning` (personal identity number) and fields to specify the information objects you want in the answer. Possible information objects are `ORGANISATIONSENGAGEMANG` (Showing a person\u2019s assignments in companies), `PERSONLIG_KONKURS` (personal bankruptcy), `BITRADESFORBUD` (prohibition of financial assistance), `NARINGSFORBUD` (trade ban (prohibition to carry on business)).",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PersonRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Reply with requested personal data.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/PersonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/WrongIdentifier"
                    },
                    "401": {
                        "$ref": "#/components/responses/WrongToken"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/MissingData"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "foretagsinformation:read"
                        ]
                    },
                    {
                        "default": [
                            "foretagsinformation:read"
                        ]
                    }
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        },
        "/firmateckningsalternativ": {
            "post": {
                "tags": [
                    "organisationsinformation"
                ],
                "summary": "Retrieve signatory options for a company officer in a company",
                "description": "This operation retrieves the alternatives on signatory power for a company officer in combination with a company.",
                "parameters": [
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "Client generated ID to call the API. In case of error this will be sent in the error message.",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "d120654c-0d09-481a-8956-940a76474e6b"
                    }
                ],
                "requestBody": {
                    "description": "Identity of a company officer and of a company. A company officer can be a legal entity or a physical person.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FirmateckningsalternativRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Reply with requested alternatives on signatory power.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/FirmateckningsalternativResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/WrongIdentifier"
                    },
                    "401": {
                        "$ref": "#/components/responses/WrongToken"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/MissingData"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "foretagsinformation:read"
                        ]
                    },
                    {
                        "default": [
                            "foretagsinformation:read"
                        ]
                    }
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        },
        "/arenden": {
            "post": {
                "tags": [
                    "organisationsinformation"
                ],
                "summary": "Retrieve data about a case or all cases of a company",
                "description": "This operation retrieves either data about a specific case or all cases of a company depending on how the request is designed. In the latter option, it is also possible to specify a time interval to limit the response.",
                "parameters": [
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "Client generated ID to call the API. In case of error this will be sent in the error message.",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "d120654c-0d09-481a-8956-940a76474e6b"
                    }
                ],
                "requestBody": {
                    "description": "An object to specify `\u00e4rendenummer` (case number) or `identitetsbeteckning` (company registration number). In the latter option optionally together with a time interval consisting of from- and/or to dates (`fromdatum` and `tomdatum`).",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ArendeRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Reply with requested case data or all cases (with or without a specific time interval) of a requested company.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/ArendeResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/WrongIdentifier"
                    },
                    "401": {
                        "$ref": "#/components/responses/WrongToken"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/MissingData"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "foretagsinformation:read"
                        ]
                    },
                    {
                        "default": [
                            "foretagsinformation:read"
                        ]
                    }
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        },
        "/aktiekapitalforandringar": {
            "post": {
                "tags": [
                    "organisationsinformation"
                ],
                "summary": "Retrieve data about changes in share capital that has occurred in a company",
                "description": "This operation retrieves data about historical changes of share capital in a company. It is also possible to specify a time interval to limit the response.",
                "parameters": [
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "Client generated ID to call the API. In case of error this will be sent in the error message.",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "d120654c-0d09-481a-8956-940a76474e6b"
                    }
                ],
                "requestBody": {
                    "description": "An object to specify `identitetsbeteckning` (company registration number). Optionally together with a time interval consisting of from- and/or to dates (`fromdatum` and `tomdatum`).",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AktiekapitalforandringRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Reply with requested changes of share capital (with or without a specific time interval) of a requested company.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/AktiekapitalforandringResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/WrongIdentifier"
                    },
                    "401": {
                        "$ref": "#/components/responses/WrongToken"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/MissingData"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "foretagsinformation:read"
                        ]
                    },
                    {
                        "default": [
                            "foretagsinformation:read"
                        ]
                    }
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        },
        "/organisationsengagemang": {
            "post": {
                "tags": [
                    "organisationsinformation"
                ],
                "summary": "Retrieve data about an individual\u2019s or a company\u2019s assignments in other companies.",
                "description": "This operation retrieves data about an individual\u2019s or a company\u2019s assignments in other companies.",
                "parameters": [
                    {
                        "name": "X-Request-Id",
                        "in": "header",
                        "description": "Client generated ID to call the API. In case of error this will be sent in the error message.",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "d120654c-0d09-481a-8956-940a76474e6b"
                    }
                ],
                "requestBody": {
                    "description": "An object to specify `identitetsbeteckning` (company registration number or personal identity number). Optionally together with pagination, filter and sort parameters.",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrganisationsengagemangRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Reply with the individual\u2019s or a company\u2019s assignments in other companies.",
                        "content": {
                            "application/json; charset=utf-8": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrganisationsengagemangResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/WrongIdentifier"
                    },
                    "401": {
                        "$ref": "#/components/responses/WrongToken"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "404": {
                        "$ref": "#/components/responses/MissingData"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "foretagsinformation:read"
                        ]
                    },
                    {
                        "default": [
                            "foretagsinformation:read"
                        ]
                    }
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        },
        "/isalive": {
            "get": {
                "tags": [
                    "ping"
                ],
                "summary": "API-status",
                "description": "With this operation you can check to see that the API is up and running.",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "503": {
                        "description": "Server Unavailable"
                    },
                    "default": {
                        "description": "Unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "OAuth2": [
                            "foretagsinformation:monitor"
                        ]
                    },
                    {
                        "default": [
                            "foretagsinformation:monitor"
                        ]
                    }
                ],
                "x-auth-type": "Application & Application User",
                "x-throttling-tier": "Unlimited"
            }
        }
    },
    "components": {
        "schemas": {
            "OrganisationRequest": {
                "title": "OrganisationRequest",
                "required": [
                    "identitetsbeteckning"
                ],
                "type": "object",
                "properties": {
                    "identitetsbeteckning": {
                        "type": "string",
                        "description": "Company registration number (`Identitetsbeteckning`)."
                    },
                    "namnskyddslopnummer": {
                        "type": "string",
                        "description": "\"Namnskyddslopnummer\" is used to separate companies for organisation types that can have more than one company on the same \"identitetsbeteckning\" (company registration number). For example Enskild n\u00e4ringsverksamhet can have more than one company with different names on the same company registration number. If this parameter is left out the API will reply with all companies on that company registration number. Namnskyddslopnummer may also be padded with leading zeroes, for example \"1\" may be padded as \"001\".\n",
                        "example": "1"
                    },
                    "organisationInformationsmangd": {
                        "type": "array",
                        "description": "The information objects wanted in the answer. If this is left out the response will just include \"identitetsbeteckning\", \"namnskyddslopnummer\", \"organisationsnamn\", \"organisationsform\" and \"organisationsstatusar\".",
                        "items": {
                            "type": "string",
                            "enum": [
                                "AKTIEINFORMATION",
                                "FIRMATECKNING",
                                "FUNKTIONARER",
                                "HEMVISTKOMMUN",
                                "ORGANISATIONSADRESSER",
                                "ORGANISATIONSDATUM",
                                "ORGANISATIONSENGAGEMANG",
                                "RAKENSKAPSAR",
                                "SAMTLIGA_ORGANISATIONSNAMN",
                                "TILLSTAND",
                                "VERKSAMHETSBESKRIVNING",
                                "OVRIG_ORGANISATIONSINFORMATION",
                                "ORGANISATIONSMARKERINGAR",
                                "BESTAMMELSER",
                                "VAKANSER_OCH_UPPLYSNINGAR",
                                "EKONOMISK_PLAN",
                                "UTLANDSK_FILIALAGANDE_ORGANISATION",
                                "FINANSIELLA_RAPPORTER"
                            ]
                        }
                    },
                    "tidpunkt": {
                        "type": "string",
                        "description": "Timestamp for historical data of the retrieved companies. For example `2025-02-25T12:00:00`."
                    }
                },
                "description": "Object to retrieve data about a company."
            },
            "OrganisationResponse": {
                "title": "OrganisationResponse",
                "type": "array",
                "description": "The companies returned in the response. For some company types such as Enskild n\u00e4ringsverksamhet, there may be more than one company returned in the response.",
                "items": {
                    "$ref": "#/components/schemas/OrganisationType"
                }
            },
            "OrganisationType": {
                "title": "OrganisationType",
                "type": "object",
                "properties": {
                    "identitet": {
                        "$ref": "#/components/schemas/Identitet"
                    },
                    "namnskyddslopnummer": {
                        "type": "integer",
                        "description": "\"Namnskyddslopnummer\" is used to separate companies for organisation types that can have more than one company on the same \"identitetsbeteckning\" (company registration number). For example Enskild n\u00e4ringsverksamhet can have more than one company with different names on the same company registration number.\n",
                        "example": 2
                    },
                    "arende": {
                        "$ref": "#/components/schemas/OrganisationArende"
                    },
                    "organisationsnamn": {
                        "$ref": "#/components/schemas/Organisationsnamn"
                    },
                    "organisationsform": {
                        "$ref": "#/components/schemas/KodKlartext"
                    },
                    "organisationsstatusar": {
                        "type": "array",
                        "description": "Code, text and type for the Company status and the registration date for the status. If typ is 'AvregistreradOrganisationstyp' the company is no longer active.  If typ is 'AvvecklingsOmstruktureringsforfarande' the company is in a process of status change.",
                        "items": {
                            "$ref": "#/components/schemas/KodKlartextDatum"
                        }
                    },
                    "organisationsdatum": {
                        "title": "organisationsdatum",
                        "type": "object",
                        "properties": {
                            "registreringsdatum": {
                                "type": "string",
                                "description": "Date the company was registered.",
                                "format": "date"
                            },
                            "bildatDatum": {
                                "type": "string",
                                "description": "Date the company was founded.",
                                "format": "date"
                            }
                        },
                        "description": "Different dates regarding the company."
                    },
                    "hemvistkommun": {
                        "title": "hemvistkommun",
                        "type": "object",
                        "properties": {
                            "typ": {
                                "type": "string",
                                "description": "Type of domicile."
                            },
                            "lanForHemvistkommun": {
                                "$ref": "#/components/schemas/KodKlartext"
                            },
                            "kommun": {
                                "$ref": "#/components/schemas/KodKlartext"
                            }
                        },
                        "description": "Company domicile. `L\u00e4n` and `Kommun` in code and text."
                    },
                    "rakenskapsar": {
                        "$ref": "#/components/schemas/Rakenskapsar"
                    },
                    "verksamhetsbeskrivning": {
                        "type": "string",
                        "description": "Description of the business activities. Can be a lot of text in some cases."
                    },
                    "organisationsadresser": {
                        "title": "organisationsadresser",
                        "type": "object",
                        "properties": {
                            "postadress": {
                                "$ref": "#/components/schemas/Postadress"
                            },
                            "epostadress": {
                                "type": "string",
                                "description": "Email to the company."
                            }
                        },
                        "description": "The company's contact information. Postal address and email address."
                    },
                    "firmateckning": {
                        "title": "firmateckning",
                        "type": "object",
                        "properties": {
                            "kodad": {
                                "$ref": "#/components/schemas/Kodad"
                            },
                            "klartext": {
                                "type": "string",
                                "description": "Signatory power in text."
                            },
                            "prokuratext": {
                                "type": "string",
                                "description": "Power of procuration in text."
                            }
                        },
                        "description": "Information about signatory power"
                    },
                    "samtligaOrganisationsnamn": {
                        "type": "array",
                        "description": "All business names.",
                        "items": {
                            "$ref": "#/components/schemas/Organisationsnamnsinformation"
                        }
                    },
                    "funktionarer": {
                        "type": "array",
                        "description": "Company officers.",
                        "items": {
                            "$ref": "#/components/schemas/Funktionarsinformation"
                        }
                    },
                    "antalValdaFunktionarer": {
                        "type": "object",
                        "properties": {
                            "ledamoter": {
                                "type": "number"
                            },
                            "suppleanter": {
                                "type": "number"
                            }
                        },
                        "description": "Specifies the number of officers designated by the company."
                    },
                    "aktieinformation": {
                        "$ref": "#/components/schemas/Aktieinformation"
                    },
                    "organisationsengagemang": {
                        "$ref": "#/components/schemas/Organisationsengagemang"
                    },
                    "tillstand": {
                        "title": "tillstand",
                        "type": "object",
                        "properties": {
                            "typ": {
                                "$ref": "#/components/schemas/KodKlartext"
                            },
                            "datum": {
                                "type": "string",
                                "description": "Permit concession date.",
                                "format": "date"
                            },
                            "aterkallatDatum": {
                                "type": "string",
                                "description": "Permit withdrawn this date.",
                                "format": "date"
                            },
                            "forlangtDatum": {
                                "type": "string",
                                "description": "Permit extended this date.",
                                "format": "date"
                            },
                            "forverkatDatum": {
                                "type": "string",
                                "description": "Permit forfeited this date.",
                                "format": "date"
                            }
                        },
                        "description": "Information about a company's permits"
                    },
                    "ovrigOrganisationinformation": {
                        "title": "ovrigOrganisationinformation",
                        "type": "object",
                        "properties": {
                            "externaAnteckningar": {
                                "type": "string",
                                "description": "Notations about the organisation in free text."
                            },
                            "ovrigaRegisteruppgifter": {
                                "type": "string",
                                "description": "Other registration data."
                            }
                        },
                        "description": "Other information about the organisation."
                    },
                    "organisationsmarkeringar": {
                        "title": "organisationsmarkeringar",
                        "type": "array",
                        "description": "Markings on the organisation.",
                        "items": {
                            "$ref": "#/components/schemas/KodKlartext"
                        }
                    },
                    "bestammelser": {
                        "title": "bestammelser",
                        "type": "object",
                        "properties": {
                            "typ": {
                                "$ref": "#/components/schemas/KodKlartext"
                            },
                            "godkannandeKravs": {
                                "type": "boolean",
                                "description": "Markings if the articles of association must be approved by for example Swedish Financial Supervisory Authority."
                            },
                            "kungorelsedatum": {
                                "type": "string",
                                "description": "Announcement date.",
                                "format": "date"
                            },
                            "registreringsdatum": {
                                "type": "string",
                                "description": "Registration date.",
                                "format": "date"
                            },
                            "antagetDatum": {
                                "type": "string",
                                "description": "Date for adoption.",
                                "format": "date"
                            },
                            "kallelsesatt": {
                                "type": "string",
                                "description": "Summons to shareholder's meeting."
                            },
                            "godkandAvInstanser": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/GodkandAvInstans"
                                }
                            },
                            "styrelsegranser": {
                                "$ref": "#/components/schemas/Styrelsegrans"
                            },
                            "stammotidManader": {
                                "type": "array",
                                "description": "Months for shareholders' or members' meeting. For example JAN, FEB for January and February.",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "stammotidSenastManad": {
                                "type": "string",
                                "description": "Latest month for shareholders' or members' meeting."
                            },
                            "stammotidInomSexManader": {
                                "type": "boolean",
                                "description": "Marking that the shareholders' or members' meeting will be held within six months after the end of the financial year."
                            },
                            "frivilligaBestammelser": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/FrivilligBestammelse"
                                }
                            },
                            "fritext": {
                                "type": "string",
                                "description": "Free text information about the regulations of the organisation"
                            }
                        },
                        "description": "Regulations for the organisation."
                    },
                    "vakanserOchUpplysningar": {
                        "title": "vakanserOchUpplysningar",
                        "type": "object",
                        "properties": {
                            "vakansOchUpplysning": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/VakansOchUpplysning"
                                }
                            },
                            "fritext": {
                                "type": "string",
                                "description": "Free text information about the organisation."
                            }
                        },
                        "description": "Vacancies and other information about the organisation."
                    },
                    "ekonomiskPlan": {
                        "title": "ekonomiskPlan",
                        "type": "object",
                        "properties": {
                            "registreradDatum": {
                                "type": "string",
                                "description": "First registration date for the financial plan.",
                                "format": "date"
                            },
                            "senastRegistreradDatum": {
                                "type": "string",
                                "description": "Last registration date for the financial plan.",
                                "format": "date"
                            },
                            "forenkladRegistreradDatum": {
                                "type": "string",
                                "description": "Registration date for the simplified financial plan.",
                                "format": "date"
                            }
                        },
                        "description": "Information about financial plan for company form BRF"
                    },
                    "utlandskFilialagandeOrganisation": {
                        "title": "utlandskFilialagandeOrganisation",
                        "type": "object",
                        "properties": {
                            "identitet": {
                                "$ref": "#/components/schemas/Identitet"
                            },
                            "angivetEuid": {
                                "type": "string",
                                "description": "The EU identity number."
                            },
                            "organisationsnamn": {
                                "$ref": "#/components/schemas/Organisationsnamn"
                            },
                            "registreringsdatum": {
                                "type": "string",
                                "description": "Registration date.",
                                "format": "date"
                            },
                            "verksamhetsbeskrivning": {
                                "type": "string",
                                "description": "Description of the business activities."
                            },
                            "sate": {
                                "type": "string",
                                "description": "Domicile for the company."
                            },
                            "postadress": {
                                "$ref": "#/components/schemas/Postadress"
                            },
                            "rakenskapsar": {
                                "$ref": "#/components/schemas/Rakenskapsar"
                            },
                            "ejVerifieratOrganisationsregister": {
                                "type": "object",
                                "properties": {
                                    "organisationsregister": {
                                        "type": "string"
                                    },
                                    "land": {
                                        "$ref": "#/components/schemas/KodKlartext"
                                    }
                                },
                                "description": "Foreign companies registration office."
                            },
                            "aktieinformation": {
                                "$ref": "#/components/schemas/AktiekapitalUtlandskt"
                            },
                            "funktionarer": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/FunktionarUtlandsk"
                                }
                            }
                        },
                        "description": "Information about a foreign company having a Swedish branch."
                    },
                    "finansiellaRapporter": {
                        "title": "finansiellaRapporter",
                        "type": "array",
                        "description": "Information about a company's financial reports",
                        "items": {
                            "title": "finansiellRapport",
                            "type": "object",
                            "properties": {
                                "arende": {
                                    "type": "object",
                                    "properties": {
                                        "arendenummer": {
                                            "type": "string",
                                            "description": "Case number of the company's last completed case for a financial report. This is the case number when the dataset for the financial report response was updated."
                                        },
                                        "avslutatTidpunkt": {
                                            "type": "string",
                                            "description": "The timestamp when the company's last case for a financial report was completed. This is the timestamp when the dataset for the financial report response was updated."
                                        }
                                    },
                                    "description": "Arende is holding information about the company's last completed case for a financial report, such as case number and timestamp when the financial report case was completed."
                                },
                                "rapporter": {
                                    "type": "array",
                                    "description": "Reports.",
                                    "items": {
                                        "$ref": "#/components/schemas/Rapporter"
                                    }
                                }
                            },
                            "description": "Information about a case and the reports connected to the case. One case can contain one or several reports."
                        }
                    }
                }
            },
            "Aktiegranser": {
                "title": "Aktiegranser",
                "type": "object",
                "properties": {
                    "aktiekapitalGranser": {
                        "$ref": "#/components/schemas/LagstHogstKapital"
                    },
                    "antalAktierGranser": {
                        "$ref": "#/components/schemas/LagstHogstAntal"
                    },
                    "valuta": {
                        "type": "string",
                        "description": "The currency can have the following value:\n* `SEK`: Swedish Krona\n* `EUR`: Euro\n",
                        "enum": [
                            "SEK",
                            "EUR"
                        ]
                    }
                },
                "description": "Information about minimum and maximum share capital and minimun and maximum number of shares."
            },
            "AktiekapitalUtlandskt": {
                "title": "AktiekapitalUtlandskt",
                "type": "object",
                "properties": {
                    "belopp": {
                        "type": "number",
                        "description": "Amount."
                    },
                    "valuta": {
                        "$ref": "#/components/schemas/KodKlartext"
                    },
                    "inbetaltBelopp": {
                        "type": "number",
                        "description": "Amount paid."
                    }
                },
                "description": "Information about share capital for foreign company"
            },
            "Aktieslag": {
                "title": "Aktieslag",
                "type": "object",
                "properties": {
                    "namn": {
                        "type": "string",
                        "description": "Name of the class of shares.",
                        "example": "A"
                    },
                    "antal": {
                        "type": "integer",
                        "description": "Number of shares for the class of shares.",
                        "format": "int64",
                        "example": 1000
                    },
                    "aktieslagGranser": {
                        "$ref": "#/components/schemas/LagstHogstAntal"
                    },
                    "rostvarde": {
                        "type": "string",
                        "description": "Number of votes per share for the class of shares.",
                        "example": "1"
                    }
                }
            },
            "AktieslagUtanAktieslagGranser": {
                "title": "AktieslagUtanAktieslagGranser",
                "type": "object",
                "properties": {
                    "namn": {
                        "type": "string",
                        "description": "Name of the class of shares.",
                        "example": "A"
                    },
                    "antal": {
                        "type": "integer",
                        "description": "Number of shares for the class of shares.",
                        "format": "int64",
                        "example": 1000
                    },
                    "rostvarde": {
                        "type": "string",
                        "description": "Number of votes per share for the class of shares.",
                        "example": "1"
                    }
                }
            },
            "BeloppValuta": {
                "title": "BeloppValuta",
                "type": "object",
                "properties": {
                    "belopp": {
                        "multipleOf": 1e-06,
                        "type": "number",
                        "description": "Amount.",
                        "example": 12000
                    },
                    "valuta": {
                        "type": "string",
                        "description": "The currency can have the following value:\n* `SEK`: Swedish Krona\n* `EUR`: Euro\n",
                        "enum": [
                            "SEK",
                            "EUR"
                        ]
                    }
                },
                "description": "Information about amount and currency."
            },
            "Firmateckningskombination": {
                "type": "array",
                "description": "The signatory power can consist of more than one rule for signatory power. The rules for signatory power shall be read in the order they appear.",
                "items": {
                    "$ref": "#/components/schemas/Firmateckningsregel"
                }
            },
            "Firmateckningsregel": {
                "title": "firmateckningsregel",
                "type": "object",
                "properties": {
                    "typ": {
                        "$ref": "#/components/schemas/KodKlartext"
                    },
                    "ordning": {
                        "type": "number",
                        "description": "Sort order for rules in signatory powers.",
                        "example": 1
                    },
                    "funktionarsroller": {
                        "type": "array",
                        "description": "The roles the company officers for signatory power have that the rule is pointing to.",
                        "items": {
                            "$ref": "#/components/schemas/KodKlartext"
                        }
                    },
                    "funktionarer": {
                        "type": "array",
                        "description": "The company officers for signatory power that the rule is pointing to.",
                        "items": {
                            "$ref": "#/components/schemas/Funktionar"
                        }
                    }
                }
            },
            "FrivilligBestammelse": {
                "title": "FrivilligBestammelse",
                "type": "object",
                "properties": {
                    "typ": {
                        "$ref": "#/components/schemas/KodKlartext"
                    },
                    "datum": {
                        "type": "string",
                        "format": "date"
                    }
                },
                "description": "Voluntary regulation. Type of regulation (typ) and date of voluntary regulation (datum)."
            },
            "Funktionar": {
                "title": "Funktionar",
                "type": "object",
                "properties": {
                    "personnamn": {
                        "$ref": "#/components/schemas/Personnamn"
                    },
                    "organisationsnamn": {
                        "$ref": "#/components/schemas/Organisationsnamn"
                    },
                    "identitet": {
                        "$ref": "#/components/schemas/Identitet"
                    }
                }
            },
            "Funktionarsinformation": {
                "title": "Funktionarsinformation",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Funktionar"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "funktionarsroller": {
                                "type": "array",
                                "description": "The roles the company officer has in the company. Code and text.",
                                "items": {
                                    "$ref": "#/components/schemas/KodKlartext"
                                }
                            },
                            "postadress": {
                                "$ref": "#/components/schemas/Postadress"
                            },
                            "representerasAv": {
                                "type": "object",
                                "properties": {
                                    "personnamn": {
                                        "$ref": "#/components/schemas/Personnamn"
                                    },
                                    "identitet": {
                                        "$ref": "#/components/schemas/Identitet"
                                    }
                                },
                                "description": "The name and the identity of the auditor. Only populated if the main auditor is a company."
                            },
                            "insats": {
                                "type": "string",
                                "description": "Contributed capital. Only applicable for the companies with company form Kommanditbolag."
                            },
                            "anteckning": {
                                "type": "string",
                                "description": "Notations done for the company officer."
                            }
                        }
                    }
                ]
            },
            "Aktieinformation": {
                "type": "object",
                "properties": {
                    "aktiekapital": {
                        "$ref": "#/components/schemas/BeloppValuta"
                    },
                    "antalAktier": {
                        "type": "integer",
                        "description": "Number of shares in total.",
                        "format": "int64",
                        "example": 1200
                    },
                    "aktiegranser": {
                        "$ref": "#/components/schemas/Aktiegranser"
                    },
                    "aktieslag": {
                        "type": "array",
                        "description": "Information about class of shares.",
                        "items": {
                            "$ref": "#/components/schemas/Aktieslag"
                        }
                    },
                    "fritext": {
                        "type": "string",
                        "description": "Free text about share capital.",
                        "example": "Antalet aktier av respektive slag f\u00e5r motsvara h\u00f6gst hela antalet aktier i bolaget."
                    },
                    "kvotvarde": {
                        "$ref": "#/components/schemas/BeloppValuta"
                    },
                    "nedsattningPagar": {
                        "type": "boolean",
                        "description": "Reduction of share capital in progress."
                    }
                },
                "description": "Information about share capital."
            },
            "FunktionarUtlandsk": {
                "title": "FunktionarUtlandsk",
                "type": "object",
                "properties": {
                    "namn": {
                        "type": "string",
                        "description": "Name of the company officer."
                    },
                    "idnummer": {
                        "type": "string",
                        "description": "Identitification number of the company officer."
                    },
                    "postadress": {
                        "$ref": "#/components/schemas/Postadress"
                    },
                    "funktion": {
                        "type": "string",
                        "description": "The role the company officer have in the company."
                    }
                },
                "description": "Information about company officers in a foreign company."
            },
            "GodkandAvInstans": {
                "title": "GodkandAvInstans",
                "type": "object",
                "properties": {
                    "datum": {
                        "type": "string",
                        "description": "Date for approval",
                        "format": "date"
                    },
                    "kommunfullmaktigeI": {
                        "$ref": "#/components/schemas/KodKlartext"
                    },
                    "instans": {
                        "$ref": "#/components/schemas/KodKlartext"
                    },
                    "fritext": {
                        "type": "string",
                        "description": "Free text about the approval"
                    }
                },
                "description": "A regulations is either approved by a municipality (kommunfullmaktigeI) or other authority such as Swedish Financial Supervisory (instans)."
            },
            "Identitet": {
                "type": "object",
                "properties": {
                    "typ": {
                        "$ref": "#/components/schemas/KodKlartext"
                    },
                    "identitetsbeteckning": {
                        "type": "string",
                        "description": "Company or personal identity number."
                    }
                },
                "description": "The company registration number or personal identity number."
            },
            "Kodad": {
                "title": "Kodad",
                "type": "array",
                "description": "The information regarding a company\u2019s signatory power. It consist of all signatory power rules a company have (in code and text) and which of the company officers a specific rule is pointing to",
                "items": {
                    "$ref": "#/components/schemas/Firmateckningskombination"
                }
            },
            "KodKlartext": {
                "title": "KodKlartext",
                "type": "object",
                "properties": {
                    "kod": {
                        "type": "string",
                        "description": "Code for the object."
                    },
                    "klartext": {
                        "type": "string",
                        "description": "Text for the object."
                    }
                }
            },
            "KodKlartextDatum": {
                "title": "KodKlartextDatum",
                "type": "object",
                "properties": {
                    "kod": {
                        "type": "string",
                        "description": "Code for the object."
                    },
                    "klartext": {
                        "type": "string",
                        "description": "Text for the object."
                    },
                    "typ": {
                        "type": "string",
                        "description": "Type for the object.",
                        "format": "string"
                    },
                    "datum": {
                        "type": "string",
                        "description": "Date for the object.",
                        "format": "date"
                    }
                }
            },
            "BeslutType": {
                "title": "BeslutType",
                "type": "object",
                "properties": {
                    "instanstyp": {
                        "$ref": "#/components/schemas/KodKlartext"
                    },
                    "beslutsdatum": {
                        "type": "string",
                        "format": "date"
                    }
                }
            },
            "LagstHogstAntal": {
                "title": "LagstHogstAntal",
                "type": "object",
                "properties": {
                    "lagst": {
                        "type": "integer",
                        "description": "Minimum number of something, for example shares.",
                        "format": "int64",
                        "example": 1000
                    },
                    "hogst": {
                        "type": "integer",
                        "description": "Maximum number of something, for example shares.",
                        "format": "int64",
                        "example": 10000
                    }
                }
            },
            "LagstHogstKapital": {
                "title": "LagstHogstKapital",
                "type": "object",
                "properties": {
                    "lagst": {
                        "multipleOf": 1e-06,
                        "type": "number",
                        "description": "Minimum capital of something, for example shares.",
                        "example": 25000
                    },
                    "hogst": {
                        "multipleOf": 1e-06,
                        "type": "number",
                        "description": "Maximum capital of something, for example shares.",
                        "example": 100000
                    }
                }
            },
            "Organisationsengagemang": {
                "type": "array",
                "description": "Companies in which the person or company is a company officer.",
                "items": {
                    "title": "organisationsengagemang",
                    "type": "object",
                    "properties": {
                        "organisation": {
                            "title": "organisation",
                            "type": "object",
                            "properties": {
                                "identitet": {
                                    "$ref": "#/components/schemas/Identitet"
                                },
                                "namnskyddslopnummer": {
                                    "type": "integer",
                                    "description": "\"Namnskyddslopnummer\" is used to separate companies for organisation types that can have more than one company on the same \"identitetsbeteckning\" (company registration number). For example Enskild n\u00e4ringsverksamhet can have more than one company with different names on the same company registration number.\n",
                                    "example": 2
                                },
                                "personnamn": {
                                    "$ref": "#/components/schemas/Personnamn"
                                },
                                "organisationsnamn": {
                                    "$ref": "#/components/schemas/Organisationsnamn"
                                },
                                "organisationsform": {
                                    "$ref": "#/components/schemas/KodKlartext"
                                },
                                "organisationsstatusar": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/KodKlartextDatum"
                                    }
                                }
                            },
                            "description": "Company in which the person or the company is a company officer."
                        },
                        "funktionar": {
                            "$ref": "#/components/schemas/Funktionarsinformation"
                        }
                    }
                }
            },
            "Organisationsnamn": {
                "title": "Organisationsnamn",
                "type": "object",
                "properties": {
                    "typ": {
                        "$ref": "#/components/schemas/KodKlartext"
                    },
                    "namn": {
                        "type": "string",
                        "description": "The registered business name."
                    }
                },
                "description": "Business name."
            },
            "Organisationsnamnsinformation": {
                "title": "Organisationsnamnsinformation",
                "description": "An object to describe the business names. Registreringslan is the main county of registration and registreringFlerLan is the secondary counties of registration.",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Organisationsnamn"
                    },
                    {
                        "type": "object",
                        "properties": {
                            "registreringsdatum": {
                                "type": "string",
                                "description": "Date when the company\u2019s secondary business name or business name in translation was registered.",
                                "format": "date"
                            },
                            "verksamhetsbeskrivningSarskiltForetagsnamn": {
                                "type": "string",
                                "description": "Description of the business activities for the secondary business name."
                            },
                            "beslutAvStamma": {
                                "type": "boolean",
                                "description": "Marking if the decision was made in a shareholders\u2019 meeting."
                            },
                            "iBestammelser": {
                                "type": "boolean",
                                "description": "If the decision was made in a shareholders\u2019 meeting this shows in what type of regulation the name is registered."
                            },
                            "registreringslan": {
                                "$ref": "#/components/schemas/KodKlartext"
                            },
                            "registreringFlerLan": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/KodKlartext"
                                }
                            }
                        }
                    }
                ]
            },
            "Personnamn": {
                "title": "Personnamn",
                "type": "object",
                "properties": {
                    "fornamn": {
                        "type": "string",
                        "description": "The registered first name."
                    },
                    "efternamn": {
                        "type": "string",
                        "description": "The registered surname."
                    }
                }
            },
            "Postadress": {
                "title": "Postadress",
                "type": "object",
                "properties": {
                    "coAdress": {
                        "type": "string",
                        "description": "C/o address."
                    },
                    "adress": {
                        "type": "string",
                        "description": "Postal address."
                    },
                    "postnummer": {
                        "type": "string",
                        "description": "Postal code."
                    },
                    "postort": {
                        "type": "string",
                        "description": "Postal town."
                    },
                    "adressrad1": {
                        "type": "string",
                        "description": "First address line for foreign companies."
                    },
                    "adressrad2": {
                        "type": "string",
                        "description": "Second address line for foreign companies."
                    },
                    "land": {
                        "$ref": "#/components/schemas/KodKlartext"
                    }
                },
                "description": "Registered postal address."
            },
            "Rapporter": {
                "title": "Rapporter",
                "type": "object",
                "properties": {
                    "rapporteringsperiod": {
                        "type": "object",
                        "properties": {
                            "periodFrom": {
                                "type": "string",
                                "description": "The period for the financial report applies from this date."
                            },
                            "periodTom": {
                                "type": "string",
                                "description": "The period for the financial report applies to this date."
                            }
                        },
                        "description": "Period for the financial report."
                    },
                    "rapportTyp": {
                        "$ref": "#/components/schemas/KodKlartext"
                    },
                    "ankomDatum": {
                        "type": "string",
                        "description": "Arrival date."
                    },
                    "handlaggningAvslutadDatum": {
                        "type": "string",
                        "description": "Date when the administrate process completed."
                    },
                    "registreradDatum": {
                        "type": "string",
                        "description": "Registration date for the financial report."
                    },
                    "bolagsstammansForlangningDatum": {
                        "type": "string",
                        "description": "The shareholders' meetings extension date."
                    },
                    "innehallerKoncernredovisning": {
                        "type": "boolean",
                        "description": "Information if the financial report contains consolidated accounts."
                    },
                    "vinstutdelning": {
                        "$ref": "#/components/schemas/Vinstutdelning"
                    }
                },
                "description": "The company's financial reports."
            },
            "Rakenskapsar": {
                "title": "rakenskapsar",
                "type": "object",
                "properties": {
                    "rakenskapsarInleds": {
                        "type": "string",
                        "description": "Month and first day of the month when the financial year starts. January the first is JAN01 and so on. For some company forms the financial year can start in the middle of a month DEC16."
                    },
                    "rakenskapsarAvslutas": {
                        "type": "string",
                        "description": "Month and last day of the month when the financial year ends. January the last is JAN31. If the financial year ends last day of February, this is always FEB28 even if February some years has 29 days. For some company forms the financial year can end in the middle of a month DEC15."
                    }
                },
                "description": "Financial year of the company."
            },
            "Styrelsegrans": {
                "title": "Styrelsegrans",
                "type": "object",
                "properties": {
                    "ledamoter": {
                        "$ref": "#/components/schemas/LagstHogstAntal"
                    },
                    "suppleanter": {
                        "$ref": "#/components/schemas/LagstHogstAntal"
                    }
                },
                "description": "Minimum and maximum number of board members (ledamoter) and deputy board members (suppleanter)."
            },
            "VakansOchUpplysning": {
                "title": "VakansOchUpplysning",
                "type": "object",
                "properties": {
                    "typ": {
                        "$ref": "#/components/schemas/KodKlartextDatum"
                    }
                },
                "description": "Type of vacancy (typ) and date of vacancy (datum)."
            },
            "Vinstutdelning": {
                "title": "Vinstutdelning",
                "type": "object",
                "properties": {
                    "beslutadDatum": {
                        "type": "string",
                        "description": "Date of decision."
                    },
                    "valuta": {
                        "$ref": "#/components/schemas/KodKlartext"
                    },
                    "belopp": {
                        "type": "number",
                        "description": "Amount."
                    }
                },
                "description": "Distribution of profits. Date of decision, currency and amount."
            },
            "PersonRequest": {
                "title": "PersonRequest",
                "required": [
                    "identitetsbeteckning"
                ],
                "type": "object",
                "properties": {
                    "identitetsbeteckning": {
                        "type": "string",
                        "description": "The `identitetsbeteckning` (personal identity number)."
                    },
                    "personInformationsmangd": {
                        "type": "array",
                        "description": "The information objects wanted in the response. If this is left out the response will just include \"identitetsbeteckning\" and \"namn\".",
                        "items": {
                            "type": "string",
                            "enum": [
                                "ORGANISATIONSENGAGEMANG",
                                "PERSONLIG_KONKURS",
                                "BITRADESFORBUD",
                                "NARINGSFORBUD"
                            ]
                        }
                    }
                },
                "description": "Object to retrieve personal data."
            },
            "PersonResponse": {
                "$ref": "#/components/schemas/Person"
            },
            "Person": {
                "title": "Person",
                "type": "object",
                "properties": {
                    "identitet": {
                        "$ref": "#/components/schemas/Identitet"
                    },
                    "personnamn": {
                        "$ref": "#/components/schemas/Personnamn"
                    },
                    "organisationsengagemang": {
                        "$ref": "#/components/schemas/Organisationsengagemang"
                    },
                    "personligKonkurs": {
                        "type": "array",
                        "description": "Information about personal bankruptcy.",
                        "items": {
                            "title": "personligKonkurs",
                            "type": "object",
                            "properties": {
                                "dodsbonummer": {
                                    "type": "string",
                                    "description": "Identification number of an estate of a decedent. The identification number is registered by Skatteverket."
                                },
                                "insolvensforfarande": {
                                    "title": "personligKonkursInsolvensforfarande",
                                    "type": "object",
                                    "properties": {
                                        "huvud": {
                                            "type": "string",
                                            "description": "Main, the most common type of insolvency. \"true\" or \"false\"."
                                        },
                                        "sekundart": {
                                            "type": "string",
                                            "description": "Secondary, subordinate to main insolvency. \"true\" or \"false\"."
                                        },
                                        "territorielltBegransat": {
                                            "type": "string",
                                            "description": "Territorial, only regarding assets where the person has his/her residence. \"true\" or \"false\"."
                                        }
                                    },
                                    "description": "There can be three types of insolvency, main, secondary or territorially limited."
                                },
                                "process": {
                                    "title": "personligKonkursProcess",
                                    "type": "object",
                                    "properties": {
                                        "inledd": {
                                            "title": "personligKonkursProcessInledd",
                                            "type": "object",
                                            "properties": {
                                                "malnummer": {
                                                    "type": "string",
                                                    "description": "Case number."
                                                },
                                                "datum": {
                                                    "type": "string",
                                                    "description": "Date when the personal bankruptcy proceedings started.",
                                                    "format": "date"
                                                },
                                                "overklaganSenastDatum": {
                                                    "type": "string",
                                                    "description": "Last date to appeal against personal bankruptcy proceedings started.",
                                                    "format": "date"
                                                },
                                                "anmalanFordringarSenastDatum": {
                                                    "type": "string",
                                                    "description": "Last date to file a claim.",
                                                    "format": "date"
                                                },
                                                "beslutsinstans": {
                                                    "title": "personligKonkursProcessInleddBeslutsinstans",
                                                    "type": "object",
                                                    "properties": {
                                                        "svensk": {
                                                            "title": "personligKonkursProcessInleddBeslutsinstansSvensk",
                                                            "allOf": [
                                                                {
                                                                    "$ref": "#/components/schemas/KodKlartext"
                                                                }
                                                            ]
                                                        },
                                                        "utlandsk": {
                                                            "title": "personligKonkursProcessInleddBeslutsinstansUtlandsk",
                                                            "type": "object",
                                                            "properties": {
                                                                "namn": {
                                                                    "type": "string",
                                                                    "description": "The name of the foreign court."
                                                                },
                                                                "land": {
                                                                    "$ref": "#/components/schemas/KodKlartext"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "description": "The court of law that took the decision to commence personal bankruptcy proceedings. Swedish or foreign (code and text)."
                                                },
                                                "overklagande": {
                                                    "title": "personligKonkursOverklagande",
                                                    "type": "object",
                                                    "properties": {
                                                        "beslutsinstans": {
                                                            "title": "personligKonkursOverklagandeBeslutsinstans",
                                                            "type": "object",
                                                            "properties": {
                                                                "svensk": {
                                                                    "title": "personligKonkursOverklagandeBeslutsinstansSvensk",
                                                                    "allOf": [
                                                                        {
                                                                            "$ref": "#/components/schemas/KodKlartext"
                                                                        }
                                                                    ]
                                                                },
                                                                "utlandsk": {
                                                                    "title": "personligKonkursOverklagandeBeslutsinstansUtlandsk",
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "namn": {
                                                                            "type": "string",
                                                                            "description": "The name of the foreign court."
                                                                        },
                                                                        "land": {
                                                                            "$ref": "#/components/schemas/KodKlartext"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "description": "The court of law that took the decision to appeal personal bankruptcy proceedings. Swedish or foreign (code and text)."
                                                        }
                                                    },
                                                    "description": "Information about appeal against the decision to start personal bankruptcy proceedings."
                                                }
                                            },
                                            "description": "Information about personal bankruptcy proceedings started."
                                        },
                                        "avslutad": {
                                            "title": "personligKonkursAvslutad",
                                            "type": "object",
                                            "properties": {
                                                "datum": {
                                                    "type": "string",
                                                    "description": "Date of completion.",
                                                    "format": "date"
                                                }
                                            },
                                            "description": "Information about completion of personal bankruptcy proceedings."
                                        },
                                        "upphavd": {
                                            "title": "personligKonkursUpphavd",
                                            "type": "object",
                                            "properties": {
                                                "malnummer": {
                                                    "type": "string",
                                                    "description": "Case number."
                                                },
                                                "datum": {
                                                    "type": "string",
                                                    "description": "Date of reversion.",
                                                    "format": "date"
                                                },
                                                "beslutsinstans": {
                                                    "title": "personligKonkursUpphavdBeslutsinstans",
                                                    "type": "object",
                                                    "properties": {
                                                        "svensk": {
                                                            "title": "personligKonkursUpphavdBeslutsinstansSvensk",
                                                            "allOf": [
                                                                {
                                                                    "$ref": "#/components/schemas/KodKlartext"
                                                                }
                                                            ]
                                                        },
                                                        "utlandsk": {
                                                            "title": "personligKonkursUpphavdBeslutsinstansUtlandsk",
                                                            "type": "object",
                                                            "properties": {
                                                                "namn": {
                                                                    "type": "string",
                                                                    "description": "The name of the foreign court."
                                                                },
                                                                "land": {
                                                                    "$ref": "#/components/schemas/KodKlartext"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "description": "The court of law that took the decision to reverse personal bankruptcy proceedings. Swedish or foreign (code and text)."
                                                },
                                                "overklagande": {
                                                    "title": "personligKonkursUpphavdOverklagande",
                                                    "type": "object",
                                                    "properties": {
                                                        "datum": {
                                                            "type": "string",
                                                            "description": "Date of appeal against reversion of personal bankruptcy proceedings.",
                                                            "format": "date"
                                                        },
                                                        "beslutsinstans": {
                                                            "title": "personligKonkursUpphavdOverklagandeBeslutsinstans",
                                                            "type": "object",
                                                            "properties": {
                                                                "svensk": {
                                                                    "title": "personligKonkursUpphavdOverklagandeBeslutsinstansSvensk",
                                                                    "allOf": [
                                                                        {
                                                                            "$ref": "#/components/schemas/KodKlartext"
                                                                        }
                                                                    ]
                                                                },
                                                                "utlandsk": {
                                                                    "title": "personligKonkursUpphavdOverklagandeBeslutsinstansUtlandsk",
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "namn": {
                                                                            "type": "string",
                                                                            "description": "The name of the foreign court."
                                                                        },
                                                                        "land": {
                                                                            "$ref": "#/components/schemas/KodKlartext"
                                                                        }
                                                                    }
                                                                }
                                                            },
                                                            "description": "The court of law that took the decision to appeal against reversion of personal bankruptcy proceedings. Swedish or foreign (code and text)."
                                                        }
                                                    },
                                                    "description": "Information about appeal against reversion of personal bankruptcy proceedings."
                                                }
                                            },
                                            "description": "Information about reversion of personal bankruptcy proceedings."
                                        }
                                    },
                                    "description": "Information about the personal bankruptcy proceedings and case."
                                },
                                "konkursforvaltare": {
                                    "title": "personligKonkursKonkursforvaltare",
                                    "type": "object",
                                    "properties": {
                                        "personnamn": {
                                            "$ref": "#/components/schemas/Personnamn"
                                        },
                                        "postadress": {
                                            "$ref": "#/components/schemas/Postadress"
                                        }
                                    },
                                    "description": "Information about official receiver of the personal bankruptcy proceedings."
                                }
                            }
                        }
                    },
                    "bitradesforbud": {
                        "title": "bitradesforbud",
                        "type": "object",
                        "properties": {
                            "fritext": {
                                "type": "string",
                                "description": "Free text about prohibition of financial assistance."
                            },
                            "slutligt": {
                                "title": "bitradesforbudSlutgiltigt",
                                "type": "object",
                                "properties": {
                                    "from": {
                                        "type": "string",
                                        "description": "The definite prohibition of financial assistance applies from this date.",
                                        "format": "date"
                                    },
                                    "tom": {
                                        "type": "string",
                                        "description": "The definite prohibition of financial assistance applies to this date.",
                                        "format": "date"
                                    }
                                },
                                "description": "Information about definite prohibition of financial assistance."
                            },
                            "tillfalligt": {
                                "title": "bitradesforbudTillfalligt",
                                "type": "object",
                                "properties": {
                                    "from": {
                                        "type": "string",
[...]
